.swiper {
    width: 50vw;
    height: 40vw;
    @media screen and (max-width: 800px) {
      width: 80vw;
      height: 40vh;
    }
  }
  
  .slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image {
    background-color: #ebebeb;
    width: 53vw;
    height: 53vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;

  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.7);
  }

  .swiper-pagination-bullet-active {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
  }
  