.Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 3em;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
  @media screen and (max-width:850px) {
    padding: 1em 2em;
  }

  @media screen and (max-width: 500px) {
    padding: 1em;
    font-size: 0.7em;
  }
  @media screen and (max-width: 400px) {
    padding: 0.8em;
    font-size: 0.7em;
  }

  span {
    font-size: 0.8rem;
    color: #000;
    transition: 0.5s ease-in-out;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background-color: #000 !important;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  &:hover span {
    color: #fff;
  }
}
