.Navbar {
  position: relative;
  height: 13vh;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 3.5rem;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #333;

  .logo {
    filter: invert(1);
    cursor: pointer;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 990px) {
      display: none;
    }
  }

  .rightside {
    display: flex;
    align-items: center;
    flex: 1;

    ul {
      display: flex;
      align-items: center;
      color: #aaa;
      @media screen and (max-width: 990px) {
        display: none;
      }
      li{
        text-align: center;
        &.name{
          color: #63bbee;
        }
        &:hover {
          color: #fff;
        }
      }
   
    }
    .icon {
      font-size: 1rem;
      color: #fff;
      cursor: pointer;
      position: relative;
      transition: transform 0.4s ease;
      border: none;
      background-color: transparent;
    }
    .cart__quantity {
      color: #fff;
      font-size: 1rem;
    }
  }
  .menuicon {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }
}
