.FooterCard {
  position: relative;
  width: 40%;
  margin: 0 1rem;
  background: transparent;
  @media screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 2rem;
  }

  p {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-25%, -70%);
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    @media screen and (max-width: 850px) {
      font-size: 1.8rem;
      top: 70%;
    }
    @media screen and (max-width: 600px) {
      top: 60%;
    }
  }
  .button {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-25%, -12%);
    @media screen and (max-width: 600px) {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .image {
    width: 100%;
    transition: all 2s ease-in-out;
  }
  &:hover .image {
    scale: 1.1;
  }
}
